#column-left + #content, #column-left + #content + #footer {
    position: relative;
    left: 0px;
}
#column-left.active {
    left: 0px;
}
#column-left.active + #content, #column-left.active + #content + #footer {
    left: 235px;
}
@media (min-width: 768px) {
    #button-menu {
        display: inline-block;
    }
    #column-left {
        left: -235px;
    }

    #column-left + #content, #column-left + #content + #footer {
        left: 0px;
        margin-left: auto;
    }

    #column-left.active + #content, #column-left.active + #content + #footer {
        left: 0px;
        margin-left: 235px;
    }
}
